
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

/*Barra de Navegación*/
.logo{
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-right:401px;
}

/*Titulo*/
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title img{
    width: 70px;
    margin-top: 90px;
}
h1{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

/*NavBar*/
nav{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:black;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;  
}

.nav-ul a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: white;  
}
.nav-ul a :hover{
    color: black;
    background-color: white;
    transition:0.4s;
}
.nav-ul li{
    padding:21px 10px;
}

/*Buscador*/
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input{
    color: #191919;
    padding: 8px 8px 8px 35px;
    width: 400px;
    margin-top: 70px;
    font-size: 15px;
    border: solid black 2px;
}

#input-icon{
    position: absolute;
    margin-top: 80px;
    margin-left: 350px;
    font-size: 18px;
    opacity: 0.85;
}

/*Anuncio*/
.img-a{
    width: 100%;
    margin-top: 60px;
}
/*Galería imagenes*/
.grid-card{
    display: grid;
    grid-template-columns:repeat(3, 400px);
    grid-template-rows:repeat(2,500px);

    padding:20px ;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


/*Card*/
.card-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-img img{
    width: 290px;
    padding: 20px;
}

.card:hover{
    box-shadow: black 2px 2px 30px;
    transition: 0.5s;
    padding: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    height: 460px;
}

.card span{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

.card .desc{
    width: 70px;
    margin-left: 250px;
    font-size: 15px;
    padding: 5px;
    color:white ;
    background-color: black;
    border-radius: 4px;
}

.card .price{
    border-radius: 4px;
    border: solid black 1px;
    color: black;
    width: 110px;
    margin-top: 20px;
    margin-left: 110px;
    padding: 5px;
    font-size: 23px;
}