@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Carter+One&family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'ABeeZee', sans-serif;
}

/*Barra de Navegación*/
.logo{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 5px;
}

.bag-icon{
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 20px;
    width: 30px;
    height:30px;
}
/*NavBar*/
.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:black;
}

.navbar-lista{
    display: flex;
    flex-direction: row;
    margin-left: 31%;
    list-style: none;  
}

.navbar-listaItem{
    height: 20px;
    padding:20px 0px;
}

.navbar-listaItem a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding:21px;
    color: white;  
}

.navbar-listaItem a:hover{
    color: black;
    background-color: white;
    padding:21px;
    transition:0.4s;
}

/*Titulo*/
.title{
    background-image: url("../img/descarga.jpg");
    background-size:cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    border-bottom: #191919 solid 2px;
}

.title img{
    width: 70px;
    margin-top: 90px;
}

h1{
    margin: 0 30px;
    margin-right: 160px;
    margin-top: 110px;
    font-size: 60px;
    font-family:'ABeeZee', sans-serif;
}

.subt-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra{
    border: solid black 1px;
    width: 300px;
}

.subt{
    text-align: center;
    font-family:'ABeeZee', sans-serif;
    margin-top: 80px;
    font-size: 40px;
}
/*Buscador*/
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buscador{
    color: #191919;
    padding: 8px 8px 8px 35px;
    width: 400px;
    margin-top: 30px;
    font-size: 15px;
    border: solid black 2px;
}

#input-icon{
    position: absolute;
    margin-left: 330px;
    margin-top: 40px;
    font-size: 18px;
}

/*Seccion Anuncio*/
.img-a{
    width: 100%;
}

/*Galería imagenes*/
.grid-card{
    display: grid;
    grid-template-columns:repeat(3, 400px);
    grid-template-rows:repeat(2,550px);

    padding:20px ;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


/*Sección de Cards*/
.card-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-img img{
    width: 150px;
    padding: 15px;
}

.card:hover{
    box-shadow: black 2px 2px 30px;
    transition: 0.5s;
}

.card{
    display: flex;
    flex-direction: column;
    height:max-content;
    padding:20px 15px;
    border: solid #191919 2px;
    background-color: white;
}

.body-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
}

.desc{
    width:max-content;
    margin-left: 240px;
    margin-bottom: 15px;
    font-size: 15px;
    padding: 5px 10px;
    color:white ;
    background-color: black;
    border-radius: 4px;
}

.body-card ul{
    list-style: none;
    margin-top: 20px;
}

.body-card li{
    font-size: 17px;
    font-family:'ABeeZee', sans-serif;
}

.modelo{
   text-align: center;
   text-transform: uppercase; 
   margin-bottom: 20px;
   font-weight: bold;
}

.price{
    width: max-content;
    border-radius: 2px;
    border: solid black 1px;
    color: black;
    margin: 20px 0px;
    padding: 3px 5px;
    font-size: 17px;
}
.btnComprar{
    padding: 3px 15px;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-size: 16px;
}

.btnComprar:hover{
    border: black solid 2px;
    background-color: white;
    color:black;
    transition: 1s;
}

/* Filtrar elemento */
.filtro{
    display: none;
}

/*Quitar X en Input Search*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/*Carrito*/

.fondo-c{
    background-image: url("../img/2.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding-top: 20px;
    height: max-content;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.btnCFlex{
    display: flex;
    justify-content: center;
}
#btnPagar{
    width: 100px;
    margin: 40px;
    padding: 3px;
    font-size: 15px;
    background-color: black;
    color: white;
    transition: all 0.6s;
    text-transform: uppercase;
}
#btnPagar:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
}
/*Card Producto*/
.producto{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: black solid 1px;
    box-shadow: #191919 3px 5px 3px 2px;
    margin: 0 40px;
    margin-bottom: 30px;
    z-index: 999;
    width: 50%;
}

.img{
    width: 100px;
}

#img-carrito{
    width: 70px;
    margin: 20px;
    margin-bottom: 20px;
}

.title-carrito{
    list-style: none;
    margin-bottom: 10px;
    font-weight: bold; 
}

.texto-c{
    padding: 10px;
    width: 400px;
    margin-left: 25px;
    color: black;
}

/*Icono del Carrito*/
#numCarrito{
    width:15px ;
    text-align: center;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    z-index: 999;
    margin-top: 35px;
    margin-right: 20px;
    right: 0;   
    font-size: 12px;
    color: black;
    font-weight: bold;
}